<div class="content container-fluid" role="main">

  <h2>Mercado ACME</h2>

  <div *ngIf="mail == null || mail == ''">
    <app-mail (iMail)="onMail($event)"></app-mail>
  </div>

  <div *ngIf="mail != null && mail != ''">
    <h4>Bienvenido {{mail}}</h4>
  </div>

  <div *ngIf="mail != null && mail != ''" class="modal-body row">
    <div class="col-md-6">
      <app-productos (outProductos)="onProductosAgregados($event)"></app-productos>
    </div>
    <div class="col-md-6">
      <app-carro [productosCarro]="productosCarro"></app-carro>
    </div>
  </div>